[submodule ".spacemacs-config/org-mode"]
	path = .spacemacs-config/org-mode
	url = git://orgmode.org/org-mode.git
[submodule ".spacemacs-config/org-reveal"]
	path = .spacemacs-config/org-reveal
	url = https://github.com/yjwen/org-reveal.git

[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule ".spacemacs-config/org-ref"]
	path = .spacemacs-config/org-ref
	url = https://github.com/jkitchin/org-ref
[submodule ".spacemacs-config/pytest-el"]
	path = .spacemacs-config/pytest-el
	url = git@github.com:cpaulik/pytest-el.git
[submodule ".spacemacs-config/material-theme"]
	path = .spacemacs-config/material-theme
	url = git@github.com:cpaulik/emacs-material-theme.git
