[submodule ".spacemacs.d.symlink/org-reveal"]
	path = .spacemacs.d.symlink/org-reveal
	url = https://github.com/yjwen/org-reveal.git
[submodule ".spacemacs.d.symlink/material-theme"]
	path = .spacemacs.d.symlink/material-theme
	url = https://github.com/cpaulik/emacs-material-theme
[submodule ".config/awesome/lain"]
	path = .config/awesome/lain
	url=https://github.com/copycat-killer/lain

