[submodule "config/org-mode"]
	path = config/org-mode
	url = git://orgmode.org/org-mode.git
[submodule "config/org-reveal"]
	path = config/org-reveal
	url = https://github.com/yjwen/org-reveal.git
[submodule "config/evil-rebellion"]
	path = config/evil-rebellion
	url = https://github.com/tarleb/evil-rebellion
